header {
    height: 15.5vh;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;

    .up-header {
        background-color: $blue;
        color: $white;

        .row-e {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.5rem 0;
        }

        .me-5 {
            margin-right: 5rem;
        }
    }

    .down-header {
        color: $black;


        .row-b {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.3rem;
            padding: 0.5rem 0;
        }

        .me-5 {
            margin-right: 5rem;
        }

        .form-control {
            border: 0;
            border-bottom: 2px solid $blue;
            text-align: end;
            color: $black;
            font-weight: bold;
            width: 150px;
        }

        .navbar {
            img {
                display: block;
            }

            a {
                text-decoration: none;
                font-weight: bold;
                color: $black;
                font-size: 0.8rem;

                &:hover,
                &.active {
                    color: $blue;
                }
            }
        }
    }
}