main {
    position: relative;
    z-index: 1;


    .card {
        margin-top: 1rem;
        width: 25%;
        overflow-wrap: break-word;





        a {
            text-decoration: none;
            height: 100%;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
                object-fit: cover;
                height: 80%;

            }
        }

        h3 {
            margin: 1.2rem;
            font-size: 1rem;

        }

        a {}
    }
}