main {
    position: relative;
    z-index: 1;

    .card {

        margin-top: 2rem;
        width: 25%;
        overflow-wrap: break-word;

        img {
            width: 80%;
        }

        h3 {
            margin: 1.2rem;
            font-size: 1rem;

        }
    }
}